[submodule "dotfiles/vim/bundle/vundle"]
	path = dotfiles/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim.d/fonts"]
	path = vim.d/fonts
	url = https://github.com/powerline/fonts.git
[submodule "utils/distribution"]
	path = utils/distribution
	url = https://github.com/philovivero/distribution
